@model IEnumerable<CajaPopular.persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Personas</h2>

<p>
    @Html.ActionLink("N u e v o", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materno)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colonia)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.cruce1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cruce2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edo_civil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reg_matrimonial)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.telefono_casa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_celular)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.tipo_vivienda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempo_residiendo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.conyuge)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ocupacion_conyuge)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materno)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.fecha_nacimiento)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colonia)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.cruce1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cruce2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edo_civil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reg_matrimonial)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.telefono_casa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_celular)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.tipo_vivienda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempo_residiendo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conyuge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ocupacion_conyuge)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.uid }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.uid }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.uid })
        </td>
    </tr>
}

</table>
